* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Playfair Display", serif;
}

nav {
  height: 20vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #c6adaf;
}
nav ul {
  list-style: none;
  display: flex;
}
nav ul li {
  margin-right: 2.5rem;
}
nav ul li a {
  color: whitesmoke;
}

body {
  background-color: #f2f2f0;
}

.card-title {
  color: #9e6f6d;
  font-size: large;
}

.btn {
  margin: 10px;
}

.container {
  margin: 10px;
}
.card {
  margin: 10px;
}

.card-img-top {
  transition: transform 1s;
}

.card-img-top:hover {
  transform: scale(1.1);
  background: #c6adaf;
}

.card-button {
  text-align: center;
}

.card-button {
  transition: transform 1s;
}

.card-img-top:hover {
  transform: scale(1.1);
  background: #9e6f6d;
}
h2 {
  color: #9e6f6d;
}
.agregarCarrito {
  color: black;
  background-color: #c6adaf;
  font-weight: bold;
  cursor: pointer;
  padding: 5px;
  margin: 0 10px 20px 0;
  border: 1px solid #ccc;
  border-radius: 8px 8px 8px 8px;
}
.card-body {
  margin: 5px;
  background-color: #f8f0e7;
}
.card-img-top {
  background-color: #c6adaf;
}
.eliminarCarrito {
  color: black;
  background-color: #c6adaf;
  font-weight: bold;
  cursor: pointer;
  padding: 5px;
  margin: 0 10px 20px 0;
  border: 1px solid #ccc;
  border-radius: 8px 8px 8px 8px;
}
.ecommerce {
  background-color: #f8f0e7;
}
.card-text {
  padding: 50px;
}
p {
  font-size: small;
}
#vaciarCarrito {
  color: black;
  background-color: #c6adaf;
  font-weight: bold;
  cursor: pointer;
  padding: 5px;
  margin: 0 10px 20px 0;
  border: 1px solid #ccc;
  border-radius: 8px 8px 8px 8px;
}
