* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Playfair Display", serif;
}

nav {
  height: 20vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #c6adaf;
}
nav ul {
  list-style: none;
  display: flex;
}
nav ul li {
  margin-right: 2.5rem;
}
nav ul li a {
  color: whitesmoke;
}

body {
  background-color: #f2f2f0;
}

.card-title {
  color: #9e6f6d;
  font-size: large;
}

.btn {
  margin: 10px;
}

.card {
  margin: 50px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.card-img-top {
  transition: transform 1s;
  background: #c6adaf;
}

.card-img-top:hover {
  transform: scale(1.1);
  background: #c6adaf;
}

.card-button {
  text-align: center;
}

.card-button {
  transition: transform 1s;
}

.card-img-top:hover {
  transform: scale(1.1);
  background: #9e6f6d;
}
h2 {
  color: #9e6f6d;
}
.agregarCarrito {
  color: black;
  background-color: #c6adaf;
  font-weight: bold;
  cursor: pointer;
  padding: 5px;
  margin: 0 10px 20px 0;
  border: 1px solid #ccc;
  border-radius: 8px 8px 8px 8px;
}
.card-body {
  margin: 5px;
  background-color: #f8f0e7;
}
.card-img-top {
  background-color: #c6adaf;
}
.eliminarCarrito {
  color: black;
  background-color: #c6adaf;
  font-weight: bold;
  cursor: pointer;
  padding: 5px;
  margin: 0 10px 20px 0;
  border: 1px solid #ccc;
  border-radius: 8px 8px 8px 8px;
}
.ecommerce {
  background-color: #f8f0e7;
}
.card-text {
  padding: 10px;
}
p {
  font-size: small;
}
#vaciarCarrito {
  color: black;
  background-color: #c6adaf;
  font-weight: bold;
  cursor: pointer;
  padding: 5px;
  margin: 0 10px 20px 0;
  border: 1px solid #ccc;
  border-radius: 8px 8px 8px 8px;
}
.swal {
  padding: 7px 19px;
  border-radius: 2px;
  background-color: white;
  font-size: 12px;
  border: 1px solid white;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.3);
}
.boton {
  background-color: #c6adaf;
}
.row {
  padding: 5px;
  display: flex;
  justify-content: center;
}

.parrafoPrincipal {
  padding: 70px;
  font-style: italic;
  font-size: large;
  justify-content: center;
}
.contenedorParrafo {
  padding: 50px;
  background-color: #f8f0e7;
}
h1 {
  display: flex;
  justify-content: center;
  color: #9e6f6d;
}
.tituloProductos {
  padding: 50px;
  background-image: url(../images/imagen2.jpg);
}
.contenedorParrafoProductos {
  padding: 10px;
  align-items: center;
  background-color: #f8f0e7;
}
.tituloEquipo {
  padding: 50px;
  background-image: url(../images/imagen1.jpg);
}
