.contact-form{
  padding: 20px;
  background-color: $light-color;
}
.form-label{
  color: $primary-color;
  font-size: 20px;
}
.card-group{
  background-color: $secondary-color;
}
.lead-contact{
  @include theme(dark-theme)
}

