@import "mixins";

body{
  background-color: $light-color;
}
.card-title{
  color: $dark-color;
  .lead{
    @include theme(dark-theme)
  }
}

.btn{
  margin: 30px;
  color: $secondary-color;
}
.container-cards{
  margin: 10px;
  color: $dark-color;
  font-size: medium;
  .card-text{
    text-align: center;
    padding: 10px;
    font-size: medium;
  }
}

