.container{
  margin: 50px;
}
.p-1{
text-decoration: none;
color: #9e6f6d;
}
.row{
padding: 50px;
}
.rounded-circle{
  transition: 5s,
}
.rounded-circle:hover {
  -webkit-transform:scale(1.3);
  transform:scale(1.3);
}
.card{
  margin: 0px;
  .card-img-top{
    margin: 10px;
    background-color: #f8f0e7;
    .card-title{
      text-align: center;
      color: #9e6f6d;
      .card-button{
        text-align: center;
      }
    }
  }
}

.card-button{
  transition: transform 2s,
}
.card-button:hover {
  transform: scale(1.1); 
  background: $primary-color;
}
.card-img-top{
  transition: transform 1s; 
}
.card-img-top:hover {
  transform: scale(1.1); 
  background: #C6ADAF;
}