.card-button{
  text-align: center;
}
.card-button{
  transition: transform 2s,
}
.card-button:hover {
  transform: scale(1.1); 
  background: $primary-color;
}
.card-img-top{
  transition: transform 1s; 
}
.card-img-top:hover {
  transform: scale(1.1); 
  background: $primary-color;
}